<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Preparo de Soluções</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" href="#" type="image/x-icon" />
  </head>
  <body>
    <header>
      <h1>Gerador de Método de Preparo de Soluções</h1>
    </header>
    <main>
      <section id="espaco-calculo">
        <h2>Formulário para realizar cálculos</h2>

        <form id="form-calculo">
          <p>
            <label for="composto">Composto: </label>

            <select name="composto" id="composto" required>
              <option value="" selected>---Escolha---</option>

              <optgroup label="Ácido inorgânicos">
                <option value="ácido clorídrico">ácido clorídrico</option>
                <option value="ácido nítrico">ácido nítrico</option>
                <option value="ácido sulfúrico">ácido sulfúrico</option>
                <option value="ácido fosfórico">ácido fosfórico</option>
              </optgroup>
            </select>
          </p>
          <p>
            <label for="concentracao">Concentração molar desejada (mol/L): </label>
            <input type="number" name="iconcentracao" id="concentracao" required min="0" max="1000" step="0.010"/>
          </p>
          <p>
            <label for="volumeTotal">Volume total (mL): </label>
            <input type="number" name="ivolumeTotal" id="volumeTotal" required/>
          </p>
          <p>

            <input type="button" value="Calcular" onclick="calcular()">
            <input type="reset" value="Limpar">
            <input type="button" value="Imprimir">
         
          </p>
        </form>
      </section>
      <section id="espacoResultado">

      </section>
      <!-- Espaço para o formulário de criar novo composto-->
      <section id="espaco-criar">
        <h2>Formulário para cadastrar um novo composto</h2>
        <p>Novo composto a ser cadastrado no banco</p>
        <form action="/posts" method="POST">
          <p>
            <label for="nome">nome: </label>
            <input type="text" name="nome" required maxlength="50">
          </p>
          <p>
          <label for="peso">peso: </label>
          <input type="number" name="peso" required min="0" max="1000" step="0.010">
          </p>
          <p>
            <label for="densidade">densidade: </label>
            <input type="number" name="densidade" required min="0" max="10" step="0.010">
          </p>
          <p>
            <label for="rotulado">rotulado: </label>
            <input type="number" name="rotulado" required min="0" max="110" step="0.010">
          </p>
          <input type="submit" value="Criar">
      </form>
      </section>
      <!-- Espaço para o formulário de atualizar um composto-->
      <section id="espaco-atualizar">
        <h2>Formulário para atualizar dados de um composto</h2>
        <form id="form-atualizar">
          <p>Composto a ser atualizado</p>
          <p>
            <label for="nome">nome: </label>
            <input type="text" name="nome" required>
          </p>
          <p>
          <label for="peso">peso: </label>
          <input type="number" name="peso" required>
          </p>
          <p>
            <label for="densidade">densidade: </label>
            <input type="number" name="densidade" required>
          </p>
          <p>
            <label for="rotulado">rotulado: </label>
            <input type="number" name="rotulado" required>
          </p>
          <input type="submit" value="Atualizar">
      </form>
      </section>
 <!-- Espaço para o formulário apagar um composto do banco de dados-->
 <section id="espaco-deletar">
  <h2>Formulário para apagar os dados de um composto</h2>
  <form id="form-deletar">
    <p>Composto a ser apagado do banco</p>
    <p>
      <label for="nome">nome: </label>
      <input type="text" name="nome" required>
    </p>
    <input type="submit" value="Apagar">
</form>
</section>

    </main>
    <footer>
      <p>
        Este é um projeto para estudo de JavaScript realizado por
        <strong>EmillyK</strong>
      </p>
    </footer>
    <script src="script.js"></script>
  </body>
</html>
